.App {
  text-align: center;
  min-height: 100vh;
  background-image: url('https://i.pinimg.com/originals/c3/a9/8d/c3a98d299e4c0c7d913ce495065f924f.jpg');
}

.Title {
  font-size: 50px;
  font-weight: 600;
  letter-spacing: -1px;
  color: black;
  font-family: 'Courier New';
  height: 60px;
}

.Input-box {
  height: 25px;
  padding-top: 20px;
  padding-bottom: 10px;
  width: 600px;
  margin: auto;
  justify-content: center
}

.model-type-drpdwn {
  padding: 10px;
  background-color:  rgba(103, 78, 134, 0.89);
  box-shadow: 0 5px 25px rgba(0,0,0,.5);
  color: #fff;
  border-width: 0px;
  cursor: pointer;
}

.upload-form {
  margin: auto;
  height: 25px;
}

.preview-box {
  border-width: 10px;
  border-color: black;
  width: 50%;
  height: 512px;
  margin: auto;
}

.original-text {
  font-size: 20px;
  color: white;
  font-weight: 600;
  margin-bottom: 10px;
}

.empty-space {
  height: 19px;
}

.fileInput {
  color: white;
  margin: auto;
  width: 200px;
  background-color:  rgba(103, 78, 134, 0.89);
  box-shadow: 0 5px 25px rgba(0,0,0,.5);
  border-width: 0px;
  cursor: pointer;
}

.preview-img {
  margin-bottom: 20px;
}

.start-pred-button {
  margin: 10px;
  height: 60px;
  width: 130px;
  background-color: rgb(103, 78, 134);
  border-width: 0px;
  border-radius: 5px;
  box-shadow: 0 5px 25px rgba(0,0,0,.5);
  cursor: pointer;
}

.start-pred-text {
  font-weight: 600;
  color: white;
}

.submit-btn {
  padding: 10px;
  background-color:  rgba(103, 78, 134, 0.89);
  box-shadow: 0 5px 25px rgba(0,0,0,.5);
  border-width: 0px;
  color: #fff;
  cursor: pointer;
}

.model-type-text {
  margin-bottom: 5px;
}

.pred-img {
  width: 800;
  height: 400;
  margin:auto;
  overflow: hidden;
}

.model-type-label {
  color: white;
  margin-right: 10px;
  letter-spacing: -1px;
  font-weight: 400;
}

.Err-Mesg {
  color: red;
  font-weight: 600;
  margin-bottom: 10px;
}

.Loading-Mesg {
  color: rgb(57, 95, 57);
  font-weight: 800;
  margin-bottom: 10px;
}

.main {
  margin: 0 auto;
  display: block;
  height: 100%;
  margin-top: 60px;
}
.mainInner{
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
}
.mainInner div{
  display:table-cell;
  vertical-align: middle;
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 1.25px;
}
#sidebarMenu {
  height: 100%;
  position: fixed;
  left: 0;
  width: 250px;
  margin-top: 60px;
  transform: translateX(-250px);
  transition: transform 250ms ease-in-out;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(98, 0, 255, 0.5));
}
.sidebarMenuInner{
  margin:0;
  padding:0;
  border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
  list-style: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
  transform: translateX(0);
}

input[type=checkbox] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}
.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 22px;
  left: 15px;
  height: 22px;
  width: 22px;
}
.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #fff;
}
.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}
.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}

::-webkit-scrollbar {display:none;}