.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.Title {
  font-size: 60px;
  font-weight: 600;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Input-box {
  height: 25px;
  padding-top: 20px;
  padding-bottom: 10px;
  width: 50%;
  margin: auto;
  justify-content: center
}

.upload-form {
  margin: auto;
  height: 25px;
}

.preview-box {
  border-width: 10px;
  border-color: black;
  width: 50%;
  height: 512px;
  margin: auto;
}

.original-text {
  font-size: 20px;
  color: white;
  font-weight: 600;
  margin-bottom: 10px;
}

.fileInput {
  color: white;
  margin-right: 10px;
}

.pred-img {
  width: 800;
  height: 400;
  margin:auto;
  overflow: hidden;
  padding-bottom: 30px;
}

.submitButton {
  margin-right: 30px;
}

.model-type-label {
  color: white;
  margin-right: 10px;
  letter-spacing: -1px;
  font-weight: 400;
}

.Err-Mesg {
  color: red;
  font-weight: 600;
}

.Loading-Mesg {
  color: green;
  font-weight: 600;
}