.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.Title {
  font-size: 60px;
  font-weight: 600;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Input-box {
  height: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 50%;
  margin: auto;
  justify-content: center
}

.upload-form {
  margin: auto;
  height: 25px;
}

.preview-box {
  border-width: 10px;
  border-color: black;
  width: 50%;
  height: 512px;
  margin: auto;
}

.original-text {
  font-size: 20px;
  color: white;
  font-weight: 800px;
  margin-bottom: 10px;
}

.fileInput {
  color: white;
}